useDynLib("sparsenet")
importFrom(utils,head,tail,packageDescription)
importFrom(glmnet,plotCoef)
importFrom(shape,colorlegend)
importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "axis", "lines", "mtext", "par",
             "plot")
importFrom("methods", "cbind2", "new", "rbind2")
importFrom("stats", "coef", "predict", "rnorm", "weighted.mean")
importFrom("Matrix","drop0")
importFrom("glmnet","lambda.interp","nonzeroCoef")
export(sparsenet,
       coef.sparsenet,coef.cv.sparsenet,cv.sparsenet,getcoef_list,plot.cv.sparsenet,plot.cv.sparsenet,plot.sparsenet,predict.cv.sparsenet,gendata,
       predict.sparsenet,print.cv.sparsenet,print.sparsenet,summary.sparsenet,sparsepredict)


S3method("print","sparsenet")
S3method("print","cv.sparsenet")
S3method("predict","sparsenet")
S3method("predict","cv.sparsenet")
S3method("summary","sparsenet")
S3method("plot","sparsenet")
S3method("plot","cv.sparsenet")
S3method("coef","sparsenet")
S3method("coef","cv.sparsenet")
